<!-- <nav class="level">
  <div class="level-left">
    <a class="level-item">
      <span class="icon is-small"><i class="fa fa-star-o"></i></span>
      <span>{{ post.like_count }}</span>
    </a>
    <a class="level-item">
      <span class="icon is-small"><i class="fa fa-comment-o"></i></span>
      <span>{{ post.discussion.comment_count }}</span>
    </a>
  </div>
</nav> -->
<div class="commentandlike">
  <a class="button is-small is-link">
    <span class="icon is-small"><i class="fa fa-star-o"></i></span>
    <span>{{ post.like_count }}</span>
  </a>
  <a class="button is-small is-link">
    <span class="icon is-small"><i class="fa fa-comment-o"></i></span>
    <span>{{ post.discussion.comment_count }}</span>
  </a>
</div>
